<!-- Launches turtlebot3 Gazebo simulation in the world -->
<launch>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find sim)/worlds/autorace.world"/>
</include>

<!-- spawn robot -->
<group ns="/robot_1">
    <include file="$(find auto_slam)/launch/includes/robot.launch.xml">
        <arg name="robot_name" value="robot_1"/>
        <arg name="init_pose" value="-x 0.0 -y 0.0 -z 0.2"/>
    </include>
    <include file="$(find auto_slam)/launch/includes/move_base.launch">
        <arg name="namespace" value="robot_1"/>
    </include> 
</group>

<!-- run RViz node (visualization) -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find auto_slam)/rviz/single.rviz">
<remap from="move_base_simple/goal" to="robot_1/move_base_simple/goal"/>
</node>

<!-- RRT algorithm -->
<include file="$(find auto_slam)/launch/auto_slam_single.launch"/>

</launch>



