<launch>
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find description)/urdf/model.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node pkg="sim" type="model_sim_node" name="model_sim_node" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sim)/rviz/model_sim.rviz"/>
</launch>
